@keyframes fadettb {
  from {
    top: 0%;
    opacity: 0;
  }
  to {
    top: 6%;
    opacity: 1;
  }
}
@keyframes fadettb2 {
  from {
    top: 40%;
    opacity: 0;
  }
  to {
    top: 46%;
    opacity: 1;
  }
}
@keyframes fadettb3 {
  from {
    top: 58%;
    opacity: 0;
  }
  to {
    top: 64%;
    opacity: 1;
  }
}
@keyframes fadebtt {
  from {
    top: 60%;
    opacity: 0;
  }
  to {
    top: 54%;
    opacity: 1;
  }
}
.lion {
  object-fit: fill;
  width: 100%;
  height: auto;
}
.overlay {
  position: relative;
  text-align: left;
  color: white;
  width: 100% !important;
  overflow: hidden;
  /* border-radius: 20px; */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  > video {
    object-fit: cover;
    position: relative;
    width: 100% !important;
    z-index: 1 !important;
    aspect-ratio: 1.5;
  }
  /* >IMG{
    position: absolute;
    z-index: 2 !important;
    opacity: 0;
    top: 0%;
    left: 0%;
  } */
}
.hero {
  width: 100% !important;
  background-color: transparent;
  /* border: 48px solid transparent; */
  border-top: none;
  border-bottom: 24px solid transparent;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0%;
  /* left: 0%; */
  width: 60%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4) !important;
  width: 100%;
  height: 100%;
  padding-left: 4%;
}

.bottom-left > h1 {
  animation: fadettb linear forwards;
  transition: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.bottom-left > h4 {
  animation: fadettb2 linear forwards;
  transition: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  /* animation-delay: 0.8s; */
}
.markets {
  animation: fadettb3 linear forwards;
  transition: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  /* animation-delay: 1.6s; */
}
.buttons {
  animation: fadebtt linear forwards;
  transition: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  /* animation-delay: 2.4s; */
  float: right;
  padding-top: 10%;
  position: absolute;
  /* top: 60%; */
  right: 10px;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.bottom-left > h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  margin-bottom: 1%;
  margin-top: 10%;
  position: absolute;
  opacity: 0;
}
.bottom-left > h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  margin-bottom: 1%;
  position: absolute;
  top: 40%;
  opacity: 0;
}
.info {
  display: flex;
  width: 100%;
}
.markets {
  width: 60%;
  /* display: flex; */
  position: absolute;
  /* top: 60%; */
  opacity: 0;
}
.market {
  width: 48%;
  margin-bottom: 0%;
}
.market > img {
  margin-bottom: 0px;
  padding-top: 0px;
  width: 10px;
}
.market > span {
  font-family: "Times New Roman", Times, serif;
  font-size: 8px;
  margin-bottom: 0px;
  margin-left: 2px;
}
.golden {
  /* background-color: #886a38 !important; */
  position: relative;
  background: linear-gradient(320deg, #886a38, #9b7c45, #c5a86e, #795b34);
  color: black;
  width: 108px;
  height: 28px;
  border-radius: 8px;
  font-size: 8px;
  font-weight: 500;
  margin-left: 8px;
  overflow: hidden;
  border: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.white {
  color: whitesmoke;
  border-color: whitesmoke;
  width: 108px;
  height: 28px;
  border-radius: 8px;
  font-size: 8px;
  font-weight: 500;
  margin-left: 8px;
  border-width: 2px;
  position: relative;
  /* display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  background: none;  
  color: #383736;*/
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
/* .golden:hover{
      animation-fill-mode: both;
      background: none !important;
      color: #9b7c45 !important;
      background-color: #000 !important;
      border: 2px solid #9b7c45 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */
/* .white:hover{
      animation-fill-mode: both;
    border-color: #000 !important;
      background: #fff !important;
      color: #000 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */

.golden:hover {
  color: #9b7c45 !important;
  background-color: #000 !important;
  border: 2px solid #9b7c45 !important;
}

.golden:before {
  content: "";
  position: absolute;
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
  -webkit-transition: top 0.09s ease-in;
}

.golden:hover:before {
  top: 0;
}

.white:hover {
  color: #000 !important;
  border: 2px solid #000 !important;
  background: #fff !important;
}

.white:before {
  content: "";
  position: absolute;
  background: whitesmoke;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
  -webkit-transition: top 0.09s ease-in;
}

.white:hover:before {
  top: 0;
}

@media (min-width: 577px) {
  /* ovveride styles for "sm" */
  .white {
    width: 148px;
    height: 36px;
    font-size: 12px;
    border-width: 4px;
  }
  .golden {
    width: 148px;
    height: 36px;
    font-size: 12px;
  }
  .buttons {
    left: 54%;
    width: 80%;
  }
  .market > span {
    font-size: 14px;
  }
  .market > img {
    margin-bottom: 8px;
    width: 12px;
  }
  .market {
    width: 35%;
    margin-bottom: 2%;
  }
  .bottom-left > h4 {
    font-size: 16px;
    margin-bottom: 2%;
  }
  .bottom-left > h1 {
    font-size: 28px;
    margin-bottom: 2%;
  }
}
@media (min-width: 769px) {
  /* ovveride styles for "md" */
  .white {
    width: 168px;
    height: 40px;
    font-size: 14px;
    margin-left: 20px;
  }
  .golden {
    width: 168px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
  }
  .buttons {
    left: 60%;
  }
  .market > span {
    font-size: 16px;
  }
  .market > img {
    margin-bottom: 4px;
    width: 16px;
  }
  .market {
    width: 33%;
    margin-bottom: 2%;
  }
  .bottom-left > h4 {
    font-size: 18px;
  }
  .bottom-left > h1 {
    font-size: 40px;
  }
}
@media (min-width: 993px) {
  /* ovveride styles for "lg" */
  .white {
    width: 228px;
    font-size: 16px;
    margin-left: 28px;
    border-width: 4px;
  }
  .golden {
    width: 228px;
    height: 40px;
    font-size: 16px;
    margin-left: 82px;
  }
  .buttons {
    left: 50%;
    width: 82%;
  }
  .market > span {
    font-size: 18px;
  }
  .market > img {
    margin-bottom: 8px;
  }
  .market {
    width: 30%;
    margin-bottom: 2%;
  }
  .bottom-left > h4 {
    font-size: 20px;
  }
  .bottom-left > h1 {
    font-size: 48px;
  }
}
@media (min-width: 1201px) {
  /* ovveride styles for "xl" */
  .white {
    width: 248px;
    height: 48px;
    font-size: 18px;
  }
  .golden {
    width: 248px;
    height: 48px;
    font-size: 18px;
    margin-left: 80px;
  }
  .buttons {
    left: 54%;
    width: 84%;
  }
  .market > span {
    font-size: 20px;
  }
  .market {
    width: 30%;
    margin-bottom: 2%;
  }
  .bottom-left > h4 {
    font-size: 24px;
  }
  .bottom-left > h1 {
    font-size: 60px;
  }
}
@media (min-width: 1401px) {
  /* ovveride styles for "2x" */
  .white {
    font-size: 20px;
  }
  .golden {
    width: 280px;
    font-size: 20px;
    margin-left: 82px;
  }
  .buttons {
    right: 5%;
  }
  .market > span {
    font-size: 24px;
  }
  .market {
    width: 30%;
    margin-bottom: 2%;
  }
  .bottom-left > h4 {
    font-size: 28px;
  }
  .bottom-left > h1 {
    font-size: 80px;
  }
}
@media (min-width: 1921px) {
  /* ovveride styles for "3x" */
  .white {
    width: 320px;
    height: 64px;
    font-size: 22px;
  }
  .golden {
    width: 320px;
    height: 64px;
    font-size: 22px;
  }
  .buttons {
    left: 60%;
    width: 80%;
  }
  .market > span {
    font-size: 36px;
  }
  .market > img {
    width: 8%;
  }
  .market {
    width: 30%;
    margin-bottom: 2%;
  }
  .bottom-left > h4 {
    font-size: 36px;
  }
  .bottom-left > h1 {
    font-size: 88px;
  }
}
