@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-sans);
  --color-gold-light: oklab(0.74 0.01 0.08);
  --color-gold: oklab(0.6 0.01 0.08);
  --color-gold-dark: oklab(0.54 0.02 0.08);
  --color-gold-darker: oklab(0.49 0.02 0.06);
  
  --breakpoint-2xs: 25rem;
  --breakpoint-xs: 32rem;
  --font-display: var(--google-font-serif);
  --font-body: var(--google-font-sans);
}

@utility glass {
  @apply backdrop-filter backdrop-blur-sm
}

@utility card {
  @apply bg-white shadow-lg rounded-xs p-2 overflow-clip border border-gray-100
}
