:root {
  --golded-gradient: 320deg, oklab(0.54 0.02 0.08), oklab(0.6 0.01 0.08), oklab(0.74 0.01 0.08), oklab(0.49 0.02 0.06);
  --golded-gradient-2: 355deg, oklab(0.54 0.02 0.08), oklab(0.6 0.01 0.08), oklab(0.74 0.01 0.08), oklab(0.49 0.02 0.06), oklab(0.54 0.02 0.08), oklab(0.6 0.01 0.08), oklab(0.74 0.01 0.08), oklab(0.49 0.02 0.06)
}
html {
  overflow-x: hidden;
  font-size: 16px;
  font-family: var(--font-body);
  scroll-behavior: smooth;
}
* {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="6 3 24 24"><path fill="black" stroke="white" stroke-width="0.4" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), default;
}
body, button {
  font-family: var(--google-font-sans);
  word-spacing: 4px;
}
button {
  text-transform: uppercase;
  font-weight: 700;
}
h2, h3, h4, h5, h6 {
  font-family: var(--google-font-serif);
}
h1, .as-h1 {
  font-family: var(--google-font-serif);
  font-weight: 700;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.custom-checklist li {
  background: url(/svg/circle-check-big.svg) no-repeat 0 0.6rem;
  list-style: none;
  padding-left: 40px;
  top: 18px
}
.text-stroke {
  color: black;
  background-color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

@media screen and (min-width: 376px) {
  html {
    overflow-x: initial;
    scroll-snap-type: y proximity;
  }
}

:root:has(#play-video-consent) body {
  overflow: hidden;
}
:root:has(#force-prevent-scroll) body {
  overflow: hidden !important;
}

body:has(.cursor-pointer:hover) #cursor-tail > span,
body:has(a:hover) #cursor-tail > span,
body:has(button:hover) #cursor-tail > span {
  border: none;
  transform: scale(2.1);
  backdrop-filter: grayscale() invert() brightness(80%);
}

.scroll-lock {
  opacity: 0;
  position: fixed;
  display: inline;
}
:root:has(div.scroll-lock) {
  overflow-y: hidden !important;
}